<!-- simple_form.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Simple Input Box</title>
</head>
<body>
    <h1>Enter some text</h1>
    <form method="post" enctype="multipart/form-data">  <!-- Add enctype here -->
        {% csrf_token %}
        <label for="{{ form.text_input.id_for_label }}">{{ form.text_input.label }}</label>
        {{ form.text_input }}

        <label for="{{ form.file_input.id_for_label }}">{{ form.file_input.label }}</label>
        {{ form.file_input }}

        <button type="submit">Submit</button>
    </form>
</body>
</html>