<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Posts</title>
</head>
<body>
    <h1>Blog Posts</h1>
    <a href="{% url 'add_publication' %}" class="btn btn-primary">Post New Paper</a>

    <a href="{% url 'project_list' %}" class="btn btn-primary">View projects</a>

    <h2>All Users</h2>
    <ul>
        <!-- <li> {{ user.username }} </li> -->
        {% for user in users %}
            <li>{{ user.first_name }} {{ user.last_name }} ({{ user.username }})</li>
            <!-- <li> {{ user.username }} </li> -->
        {% empty %}
            <li>No users available.</li>
        {% endfor %}
    </ul>

    <h2>Posts</h2>
    <ul>
        {% for post in publications %}
            <li>
                <h3>{{ post.title }}</h3>
                <p>{{ post.brief|truncatewords:30 }}</p>
                <small>Posted by {{ post.user.username }} on {{ post.created_at }}</small>
            </li>
        {% empty %}
            <li>No posts available.</li>
        {% endfor %}
    </ul>
</body>
</html>